# Env
NODE_ENV = Complete with the nodejs enviroment

# Port
PORT = Complete with the port

# Log
LOG_LEVEL = Complete with the log level

# Database
DATABASE_URL = Complete with the mongoDB connection URL